body{
	font-family: 'Noto Sans', sans-serif;
	background-color: #EFEFEE;
}
header{
	background-color: #ffffff;
	color: #535353;
}

div.logo{
	font-family: 'Swanky and Moo Moo', cursive !important;
	display:inline-block;
}
.logo:hover{
	cursor:default;
}
.title{
	display:inline-block;
	padding: 0 2em;
}
.title a{
	color: #535353;
}
.title a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}
.sign{

	padding:1em 0 1em 2em;
}
.sign li{
	display: inline-block;
	padding-left: 2em;
}
.sign a{
	color:#535353;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	position: relative;
}
.sign a:after,.sign a:before{
	position:absolute;
	content: ' ';
	background-color: #535353;
	bottom: -0.3em;
	padding:0.1em;
	left:50%;
	right:50%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.sign a:hover::after{
	right:-0.7em;
}
.sign a:hover::before{
	left:-0.7em;
}
.sign a:hover{
	text-decoration: none;
	cursor: pointer;
}
.light-orange{
	background-color: #fe7320;
}
.dark-orange{
	background-color: #eb2234;
}

.light-green{
	background-color: #02c485;
}

.dark-green{
	background-color: #07a769;
}

.light-blue{
	background-color: #0083d1;
}
.light-yellow{
	background-color: #FAF269;
}

.dark-blue{
	background-color: #1560a3;
}

.darker-blue{
	background-color: #111f4c;
}
.border{
	height:1px;
}
.bg{
	padding-top:1px;
	width:100%;
	height:auto;
}

.profile{
	border:0.4em solid #B6CACF;
	border-radius:4em;
	width:8em;
	height:8em;
}

.vs{
	margin-top: 8em; 
}

#newfeed {
   display:inline-block;
   width: 80%; 
   min-height:8em; 
   background: #B6CACF;
   position: absolute;
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
}
#newfeed:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #B6CACF;
   border-bottom: 13px solid transparent;
   margin: 13px 0 0 -25px;
}
.formWrapper{
	position:relative;
	min-height:8em;
	padding:1em;
}

.formWrapper .form-horizontal .form-group {
	margin:0;
}