<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>despachador</servlet-name>
        <servlet-class>control.despachador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarUsuario</servlet-name>
        <servlet-class>control.registrarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>despachador</servlet-name>
        <url-pattern>/despachador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarUsuario</servlet-name>
        <url-pattern>/registrarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>landing.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
