@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-u8tycz');
	src:url('fonts/icomoon.eot?#iefix-u8tycz') format('embedded-opentype'),
		url('fonts/icomoon.woff?-u8tycz') format('woff'),
		url('fonts/icomoon.ttf?-u8tycz') format('truetype'),
		url('fonts/icomoon.svg?-u8tycz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e600";
}
.icon-menu:before {
	content: "\e601";
}
.icon-remove:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-spinner:before {
	content: "\e604";
}
.icon-clock:before {
	content: "\e605";
}
.icon-calendar:before {
	content: "\e606";
}
.icon-bubble:before {
	content: "\e607";
}
.icon-arrow-up:before {
	content: "\e608";
}
